<?xml version='1.0' encoding='utf-8'?>
<widget
        id="cordova.plugins.diagnostic.example"
        version="3.2.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:gap="http://phonegap.com/ns/1.0"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AdobeXD</name>
    <description>
        AdobeXD
    </description>
    <author email="romanvenica@gmail.com">
        Roman Venica
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="Fullscreen" value="true" /><!-- Phonegap Build only -->

    

    <platform name="ios">
        <preference name="DisallowOverscroll" value="true" />
        <preference name="UIWebViewBounce" value="false" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
    </platform>

    <platform name="android">
        <preference name="android-targetSdkVersion" value="25" />
    </platform>


</widget>